body {
background-color: #d0e4fe;
margin: 100px;
padding: 100px;
}

h1, h2{
    color: seagreen;
    font-style: italic;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 100px;
    color: navy;
}

 {
    color: bisque;
    }

#weight{
    color: navy;
    font-style: oblique;
}
input[type=number]{
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid green;
    border-radius: 4%;
    box-sizing: border-box;
}
#mast{
    background-color: cyan;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 0 auto;

}

input[type=submit]{
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-size:15px;
    font-weight: lighter;
}

input[type=submit]:hover {
    background-color: #9d45a0;
    
}

